body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 50px;
}

button:hover {
    background-color: #45a049;
}

.list {
    margin-top: 10px;
    font-size: 30px;
}

.list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    padding: 8px 12px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
}

.list li:hover {
    background-color: #f1f1f1;
}

.details {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 30px;
}

.details h3 {
    margin-top: 0;
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
    

.search-list {
    display: none;
}

#searchInput {
    font-size: 50px;
}